mixin css(href)
  link(rel='stylesheet', href=href)

mixin script(src)
  script(type='text/javascript', src=src)

doctype html
html
  head
    title ledger-pivot
    +css('/lib-3p/c3.min.css')
    +css('/lib-3p/pivottable/pivot.css')
    +css('/lib-3p/subtotal.min.css')
    +css('/lib/d3_renderers.css')
    +css('/app.css')
    +script('/lib-3p/lodash.min.js')
    +script('/lib-3p/jquery.min.js')
    +script('/lib-3p/jquery-ui-1.11.4/jquery-ui.min.js')
    +script('/lib-3p/jquery.ui.touch-punch.js')
    +script('/lib-3p/d3.min.js')
    +script('/lib-3p/c3.min.js')
    +script('/lib-3p/plotly-basic.min.js')
    +script('/lib-3p/pivottable/pivot.js')
    +script('/lib-3p/pivottable/c3_renderers.js')
    +script('/lib-3p/pivottable/d3_renderers.js')
    +script('/lib-3p/pivottable/plotly_renderers.js')
    +script('/lib-3p/subtotal.min.js')
    +script('/app.js')
  body
    #menu
      each pid in pids
        a(href='/' + pid)= pid
    #output
